"*":
  "autocomplete-paths":
    enableHtmlSupport: true
    ignoreSubmodules: true
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "autocomplete-python"
    ]
    telemetryConsent: "no"
  "custom-invisibles":
    eolActive: false
  editor:
    invisibles:
      eol: " "
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "6cde8fee-95e8-4731-897c-0181dfd2a308"
  "git-diff": {}
  "linter-ui-default":
    panelHeight: 149
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  welcome:
    showOnStartup: false
